####################################################################
## Configuration file for Equation Enhanced Java APIs
####################################################################
#
####################################################################
#
# Enhanced Api behaviour
#
# API_RETURNJRNKEY - Specifies whether the Equation Journal Key will be returned
API_RETURNJRNKEY=Y
# API_RETURNEVENTKEY - Specifies whether the Equation Event Details will be returned
API_RETURNEVENTKEY=Y
# API_RETURNBEFOREIMAGE - Specifies whether the transaction's before image will be returned.  This is necessary for intermediate update checking.
API_RETURNBEFOREIMAGE=Y
# API_FORMATOUTPUT - Specifies whether default data and output data will be formatted.  Unformatted amounts have a decimal point but no thousands separators.  Unformatted dates are in YYMMDD format. 
API_FORMATOUTPUT=Y
# API_USEBEFOREIMAGE - Specifies whether intermediate update checking will be performed.
API_USEBEFOREIMAGE=Y
#API_DEFAULTCHARGES - Specifies whether default charges will be used.
API_DEFAULTCHARGES=N
# API_CHECKEXTRADATA - Specifies whether an information message will be generated if data supplied to the API is not used in the transaction.
API_CHECKEXTRADATA=Y
#API_JOURNALENQUIRY - Specifies whether the use of the enquiry should be logged.  Only a few Equation Enquires are capable of logging.
API_JOURNALENQUIRY=N
#
API_DEFAULT_LIST_SIZE=12
API_DEFAULT_PROMPT_SIZE=8
PROMPT_CHARACTER=*
SINGLE_PROMPT_CHARACTER=?
#
STORE_FIELD_DESCRIPTIONS=N
####################################################################
# Do not change this
####################################################################
DataManagerImplementation=com.misys.equation.common.datamanager.DataManagerImpl
